[user]
  name = Josh Heyse

[pull]
  ff = only

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main

[alias]
  staash = stash --all

[rerere]
  enabled = true

[core]
  excludesFile = ~/.gitignore
  untrackedcache = true
  fsmonitor = true

{{ if (or (eq .chezmoi.username "heysej") (eq .chezmoi.username "josh.heyse")) }}

[user]
  email = josh.heyse@chicagotrading.com

[core]
  excludesFile = ~/.gitignore

[includeIf "gitdir:{{- .chezmoi.workingTree -}}/"]
  path = {{ .chezmoi.workingTree -}}/.gitconfig

[maintenance]
  repo = /Users/josh.heyse/code/comet/deployments
  repo = /Users/josh.heyse/code/comet/app
  repo = /Users/josh.heyse/code/comet/cpp
  repo = /Users/josh.heyse/code/comet/python

{{ else }}

[user]
  email = josh@heyse.us
  signingkey = 0x06B3614378AFA59E

[commit]
  gpgsign = true

{{ end }}
