# This is Git's per-user configuration file.
[user]
  name = Josh Heyse

[pull]
  ff = only

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main

{{ if (or (eq .chezmoi.username "heysej") (eq .chezmoi.username "josh.heyse")) }}
[user]
  email = josh.heyse@chicagotrading.com

[core]
  excludesFile = ~/.gitignore
{{ else }}
[user]
  email = josh@heyse.us
  signingkey = 0x06B3614378AFA59E

[commit]
  gpgsign = true
{{ end }}

